<form class="container">
    <div class="row">
        <div class="col"></div>
        <!-- primera columna -->
       <div class="col">
        <label class="col-form-label">Nombres</label>
        <input type="text" class="form-control mb-3">

        <label class="col-form-label">Correo</label>
        <input type="email" class="form-control mb-3">

        <label class="col-form-label">Contraseña</label>
        <input type="password" class="form-control mb-3">
        </div>

        <!-- segunda columna -->
        <div class="col">
        <label class="col-form-label">Apellidos</label>
        <input type="text" class="form-control mb-3">

        <label class="col-form-label">Fecha de nacimiento</label>
        <input type="date" class="form-control mb-3">

        <label class="col-form-label">Repita contraseña</label>
        <input type="password" class="form-control mb-3">
       </div>
       <div class="col"></div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary ">Registrarce</button>
    </div>
</form>